section.content-wrapper
	div.box
		h2.head Contact
		div.body
			p Email is the preferred way of contact.
			br
			p Facebook: (https://www.facebook.com/keonuu)
			p Twitter (@keonwkim)
			p Eamil (keon.kim@nyu.edu)