section.content-wrapper
	div.box
		div.body
			h2.head About Bamboo Forest
			br
			br
			p 
				b -Developer's Comment-
			div(style="text-align:left; margin:0 50px; font-size:14px;")
				br
				p 
				p This is a Demo Community Site Page made by Keon Kim.
				a(href="https://github.com/keonkim/bambooforest") More Info on Github