section.content-wrapper
	div.box
		h2.head Licenses used in Bamboo Forest
		div.body
			b Main Stack
			p MongoDB
			p Express Framework
			p AngularJS
			p Node.js
			p less

			br
			b Express Modules
			p multer
			p mongoose
			p morgan
			p jsonwebtoken

			br
			b Infrastructure
			p Linux Ubuntu

			br
			b Image/Icon
			p Bamboo Icon - Fatcow Web Hosting(http://www.fatcow.com/free-icons)

			br
			b ETC
			p froala editor (Proprietary License)
			